<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Calculadora
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Calculadora</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="calculadora">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <!--readonly:atributo significa que el campo de entrada es solo lectura-->
            <ion-input id="respuesta" readonly [(ngModel)]="resultado"></ion-input>
            <!--Si cambias el valor de resultado en el código TypeScript, el valor que se muestra en el campo de entrada se actualiza automáticamente. -->
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <!--expand="block" se utiliza para que el botón se expanda y ocupe todo el ancho de su contenedor (la columna).-->
          <ion-button expand="block" (click)="append('7')">7</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" (click)="append('8')">8</ion-button>
          <!--Al hacer clic en el botón, se ejecutará una función llamada append que está definida en el archivo TypeScript del componente-->
        </ion-col>
        <ion-col>
          <ion-button expand="block" (click)="append('9')">9</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" (click)="append('/')">/</ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button expand="block" (click)="append('4')">4</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" (click)="append('5')">5</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" (click)="append('6')">6</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" (click)="append('')">x</ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button expand="block" (click)="append('1')">1</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" (click)="append('2')">2</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" (click)="append('3')">3</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" (click)="append('+')">+</ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button expand="block" (click)="append('-')">-</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" (click)="append('0')">0</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" (click)="clear()">C</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" (click)="calculate()">=</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  
</ion-content>